<html>
    <body>
        <div style="display: flex; justify-content: center;">
        <h1>
            Добавить специальность в БД
        </h1>
        </div>
        <div>
            <a href="/">На главную</a>
        <form action="" method="post">
            <table style="width: 100%;">
                <tr>
                <td>
                    Список специальностей (должны быть разделены запятой)
                </td>
                <td colspan="6">
                    <input style="width: 100%;" name="specs">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Добавить">
                    <input type="submit" value="Сканировать" name="scan">
                </td>
            </tr>
            </table>
            <div>
                <h2>Текущий список специальностей</h2>
                <div style="display: flex; flex-direction: column;">
                {{range .}}
                <a href={{.}}>{{.}}</a>
                {{end}}
                </div>
            </div>
        </form>
        </div>
    </body>
</html>