<html>
    <body>
        <div style="display: flex; justify-content: center;">
            <h1>{{.AppName}}</h1>
        </div>
        <div style="display: flex; justify-content: center;">
            <h3><a href="/add">Добавить специальности</a></h3>
        </div>
        <div>
            <form action="" method="post">
                <table>
                    <tr>
                        <td>Номер СНИЛС</td>
                        <td><input name="snils"></td>
                    </tr>
                    <tr>
                        <td>Код специальности</td>
                        <td><input name="spec"></td>
                    </tr>
                    <tr>
                        <td>Количество выборки студентов</td>
                        <td><input type="number" name="lim"></td>
                    </tr>
                    <tr>
                        <td>Вести отсчет от X места</td>
                        <td><input type="number" name="offset"></td>
                    </tr>
                    <tr>
                        <td>Показывать только:</td>
                        <td>
                            <p><input type="radio" name="display" value="budg">Бюджет</p>
                            <p><input type="radio" name="display" value="contract">Договор</p>
                            <p><input type="radio" name="display" value="both">Всех</p>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Поиск"></td>
                    </tr>
                </table>
            </form>
            {{if .Render}}
            <table style="margin-top: 5%; border-style: solid; align-self: center;">
                <th style="border-style: solid;">
                    Место/Номер записи
                </th>
                <th style="border-style: solid;">
                    Номер договора/СНИЛС
                </th>
                <th style="border-style: solid;">
                    Специальность (Код, наименование)
                </th>
                <th style="border-style: solid;">
                    Бюджет (0 - нет, 1 - да)
                </th>
                <th style="border-style: solid;">
                    Бонусные баллы
                </th>
                <th style="border-style: solid;">
                    Всего баллов
                </th>
                {{range .Students}}
                <tr style="text-align: center;border-style: solid;">
                    <td style="border-style: solid;">{{.Index}}</td>
                    <td style="border-style: solid;">{{.Snils}}</td>
                    <td style="border-style: solid;">{{.SpecCode}}, {{.SpecName}}</td>
                    <td style="border-style: solid;">{{.Budget}}</td>
                    <td style="border-style: solid;">{{.Bonus}}</td>
                    <td style="border-style: solid;">{{.Score}}</td>
                </tr>
                {{end}}
            </table>
            {{end}}
        </div>
    </body>
</html>